.progess {
   display: block;
   position: relative;
   width: $progess-size;
   height: $progess-size;
}

.progess > svg {
   top: 0;
   left: 0;
   overflow: visible;
   position: absolute;
   width: $progess-size;
   height: $progess-size;
   transform: rotate(-90deg);
   transform-origin: center;
   animation: progress-rotate 2s linear infinite;
}

.progess > svg circle {
   r: 45%;
   cx: 50%;
   cy: 50%;
   stroke: $indigo;
   fill: transparent;
   stroke-width: 10%;
   animation-duration: 4s;
   transform-origin: center;
   transition-property: stroke;
   stroke-dasharray: 282.743px;
   animation-iteration-count: infinite;
   transition: stroke-dashoffset 225ms linear;
   animation-name: progress-stroke-rotate-100;
   animation-timing-function: cubic-bezier(.35,0,.25,1);
}
@keyframes progress-rotate {
   0% {
      transform: rotate(0);
   }

   100% {
      transform: rotate(360deg);
   }
}
@keyframes progress-stroke-rotate-100 {
   0% {
      stroke-dashoffset: 268.60617px;
      transform: rotate(0);
   }

   12.5% {
      stroke-dashoffset: 56.54867px;
      transform: rotate(0);
   }

   12.51% {
      stroke-dashoffset: 56.54867px;
      transform: rotateX(180deg) rotate(72.5deg);
   }

   25% {
      stroke-dashoffset: 268.60617px;
      transform: rotateX(180deg) rotate(72.5deg);
   }

   25.1% {
      stroke-dashoffset: 268.60617px;
      transform: rotate(270deg);
   }

   37.5% {
      stroke-dashoffset: 56.54867px;
      transform: rotate(270deg);
   }

   37.51% {
      stroke-dashoffset: 56.54867px;
      transform: rotateX(180deg) rotate(161.5deg);
   }

   50% {
      stroke-dashoffset: 268.60617px;
      transform: rotateX(180deg) rotate(161.5deg);
   }

   50.01% {
      stroke-dashoffset: 268.60617px;
      transform: rotate(180deg);
   }

   62.5% {
      stroke-dashoffset: 56.54867px;
      transform: rotate(180deg);
   }

   62.51% {
      stroke-dashoffset: 56.54867px;
      transform: rotateX(180deg) rotate(251.5deg);
   }

   75% {
      stroke-dashoffset: 268.60617px;
      transform: rotateX(180deg) rotate(251.5deg);
   }

   75.01% {
      stroke-dashoffset: 268.60617px;
      transform: rotate(90deg);
   }

   87.5% {
      stroke-dashoffset: 56.54867px;
      transform: rotate(90deg);
   }

   87.51% {
      stroke-dashoffset: 56.54867px;
      transform: rotateX(180deg) rotate(341.5deg);
   }

   100% {
      stroke-dashoffset: 268.60617px;
      transform: rotateX(180deg) rotate(341.5deg);
   }
}
