.ripple-container {
   overflow: hidden !important;
   position: relative !important;

   > .ripple {
      display: block !important;
      position: absolute !important;
      border-radius: 100% !important;
      transform: scale(0) !important;
      background-color: rgba($black, 0.5) !important;
   }

   &.ripple-white > .ripple {
      background-color: rgba($white, 0.5) !important;
   }

   &.ripple-black > .ripple {
      background-color: rgba($black, 0.5) !important;
   }

   &.ripple-indigo > .ripple {
      background-color: rgba($indigo, 0.5) !important;
   }

   &.ripple-animate {
      animation: ripple 0.65s linear !important;
   }
}
@keyframes ripple {
   100% {
      opacity: 0;
      transform: scale(2.5);
   }
}
