/* Global */
*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
} 

body{
    margin:0;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

input{
    border: 1px solid rgb(184, 180, 180);
}

a{
    text-decoration: none;
    color: black
}

/* top bar */

#top-bar{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 45px;
    width: 100%;
    background: #F3F3F3;
    font-size: .8em;
    color: gray;
}

#top-bar > *{
    margin:0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#contact{
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width:25%;
}

#donate-button{
    background: #FF3450;
    color: #F3F3F3;
    padding:3px 8px;
    border-radius: 2px;
    font-weight: bolder;
    font-size: .9em;
    letter-spacing: .2em;
}

#donate-button:hover{
    background: #2867de;
}

#search{  
    width:25%;
    height: 100%;
    margin: auto 50px
}

#search-button{
    display:block;
    background: #E7E7E7;
    padding:1px 10px;
    height: 20px;
    color: #868080;
}

#search-box{
    border:0px;
    width: 100%;
    height: 20px;
    padding:3px 8px;
    font-size: 1.2em;
}

#actions{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
}

#language, #currency{
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}

#language ul, #currency ul{
    display: none; 
    position: absolute;
    top: 30px;
    margin-left: 8px;
    width: 50px;
    -webkit-box-shadow: 0 0 5px  lightblue;
            box-shadow: 0 0 5px  lightblue;
}

#language span, #currency span{
    padding: 3px;
}

#language li, #currency li{
  padding: 3px 5px;
  text-align: center;
}

#language li:first-child, #currency li:first-child{
    border-bottom: 1px solid rgba(128, 128, 128, 0.198);
}

#language li:hover, #currency li:hover{
    background: rgba(128, 128, 128, 0.198);
  }


#language > div{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#language:hover ul,
#currency:hover ul{
    display: block;
}

#social a{
  padding:5px;
}

.fa-facebook{
    color:#3b5998
}

.fa-twitter{
    color:#55acee;
}

.fa-pinterest{
    color:#cb2027;
}

.fa-google-plus{
    color:#dd4b39;
}

/*Main Menu */

#main-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width:80%;
    height: 90px;
    margin: auto;
}

#logo {
  background: url('img/Palestine-Free.png') no-repeat; 
  background-size: contain;   
  height: 72px;
  width: 90px;
  z-index: -1
}

#navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin-left:30px; 
}

#navigation > li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:0px 20px;
    height: 100%;
}

#navigation  li a {
    display: block;
    color: grey;
 }

#navigation li a:hover{
   color: #FF3450;
}

#cart{
    margin-left: auto;
    color: #2867de;
    position: relative;
    width: 100px;
    text-align: center
}

#cart a{
    color: #fff !important;
    background:#ff3450;
    padding: 2px 12px;
    border-top:1px solid #fff;
    border-radius: 2px;
}

#bag{
    position: absolute;
    top:10px;
    left:37px;
    z-index: -1;
}

.menu-item{
    position: relative;
    height: 100%;
}

.menu-item > ul{
    display: none;
    position: absolute;
    top:90px;
    left:0;
    width:200px;
    z-index: 10;
}

.menu-item:hover > ul{
    display: block;
}

.menu-sub-item{
    position: relative;
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 12px 20px !important;
}

.menu-sub-item:hover{
    background:black;
}

.menu-sub-item > a{
    width: 100%;
    height: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: lightskyblue;
} 

.menu-sub-item:not(:last-child){
    border-bottom: 1px solid rgba(128, 128, 128, 0.171);
}

.menu-sub-item > ul{
    display: none;
    position: absolute;
    top:0;
    left:200px;
    width: 200px;
    -webkit-box-shadow: -2px 0px 5px lightblue;
            box-shadow: -2px 0px 5px lightblue;
    z-index: 2;
}

.menu-sub-item:hover > ul{
    display: block;
}

.menu-sub-item > ul li{
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 12px 20px !important;
}

.menu-sub-item > ul li:hover{
    background:black;
}

.menu-sub-item > ul li:not(:last-child){
    border-bottom: 1px solid rgba(128, 128, 128, 0.171);
}

/* Carousel */

#carousel{
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.red-layer{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.397)
}

.slides{
    position: absolute;
    top: 0;
    width:100%;
    height: 100%;
    max-height: 100%;
    transition: all .5s ease-out;
}

#slide1{
    left: 0;
    z-index: 3;    
    background:url('http://www.activistpost.com/wp-content/uploads/2015/12/For_Palestine_by_STiX2000.jpg');
    background-position: center;    
}

#slide2{
    left:100%;
    background:no-repeat  url('https://www.newstatesman.com/sites/default/files/styles/nodeimage/public/blogs_2015/07/rexfeatures_4216241b.jpg?itok=2ABVm880');
    background-size:cover;
    background-position: bottom;
}

#slide3{
    left:200%;
    background:no-repeat url('http://alicewalkersgarden.com/wp-content/uploads/operation-protective-edge-man-stand-in-the-rubbles-of-a-bombed-out-home-child-doll-teddy-bear1.jpg');
    background-size: cover;
    background-position: center
}

.callout{
    position: absolute;
    top:100px;
    left:100px;
    width:30%;
    color: white;
}

.callout h1{
    font-size: 3em;
}

.donate-button{
    color:white;
    background:red;
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: bold;
}

#controls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom:20px;
    width:100%;
    z-index: 5;
}

#controls div {
	height: 20px;
	width: 20px;
	background: white;
	border-radius: 50%;
	margin: 0px 5px;
}

#controls #c1 {
    background:#ff3450;
}

#controls div:hover {
    cursor: pointer;
    background: aliceblue;
}

/* Facts section */

#facts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 190px;
    width: 100%;
}

.fact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    line-height: .5em;
    height: 100%;
    color:white;
}

.fact .icon{
    margin-right: 20px
}

.fact:nth-child(odd){
    background:rgba(255, 52, 80, 0.8)
}

.fact:nth-child(even){
    background:rgba(40, 103, 222, 0.8)
}