
/* Global */
*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
} 

body{
    margin:0;
    overflow-x: hidden;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

input{
    border: 1px solid rgb(184, 180, 180);
}

a{
    text-decoration: none;
    color: black
}

img{
    max-height: 100%;
}

/* Menu */
#menu{
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 100;
    transition: top .5s;
}

/* top bar */

#top-bar{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 45px;
    width: 100%;
    background: #F3F3F3;
    font-size: .8em;
    color: gray;
}

#top-bar > *{
    margin:0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#contact{
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width:25%;
}

#donate-button{
    background: #FF3450;
    color: #F3F3F3;
    padding:3px 8px;
    border-radius: 2px;
    font-weight: bolder;
    font-size: .9em;
    letter-spacing: .2em;
}

#donate-button:hover{
    background: #2867de;
}

#search{  
    width:25%;
    height: 100%;
    margin: auto 50px
}

#search-button{
    display:block;
    background: #E7E7E7;
    padding:1px 10px;
    height: 20px;
    color: #868080;
}

#search-box{
    border:0px;
    width: 100%;
    height: 20px;
    padding:3px 8px;
    font-size: 1.2em;
}

#actions{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
}

#language, #currency{
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}

#language ul, #currency ul{
    display: none; 
    position: absolute;
    top: 30px;
    margin-left: 8px;
    width: 50px;
    -webkit-box-shadow: 0 0 5px  lightblue;
            box-shadow: 0 0 5px  lightblue;
}

#language span, #currency span{
    padding: 3px;
}

#language li, #currency li{
  padding: 3px 5px;
  text-align: center;
}

#language li:first-child, #currency li:first-child{
    border-bottom: 1px solid rgba(128, 128, 128, 0.198);
}

#language li:hover, #currency li:hover{
    background: rgba(128, 128, 128, 0.198);
  }


#language > div{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#language:hover ul,
#currency:hover ul{
    display: block;
}

#social a{
  padding:5px;
}

.fa-facebook{
    color:#3b5998
}

.fa-twitter{
    color:#55acee;
}

.fa-pinterest{
    color:#cb2027;
}

.fa-google-plus{
    color:#dd4b39;
}

/*Main Menu */

#main-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width:80%;
    height: 90px;
    margin: auto;
}

#logo {
  background: url('img/Palestine-Free.png') no-repeat; 
  background-size: contain;   
  height: 72px;
  width: 90px;
  z-index: -1
}

#navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin-left:30px; 
}

#navigation > li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:0px 20px;
    height: 100%;
}

#navigation  li a {
    display: block;
    color: grey;
 }

#navigation li a:hover{
   color: #FF3450;
}

#cart{
    margin-left: auto;
    color: #2867de;
    position: relative;
    width: 100px;
    text-align: center
}

#cart a{
    color: #fff !important;
    background:#ff3450;
    padding: 2px 12px;
    border-top:1px solid #fff;
    border-radius: 2px;
}

#bag{
    position: absolute;
    top:10px;
    left:37px;
    z-index: -1;
}

.menu-item{
    position: relative;
    height: 100%;
}

.menu-item > ul{
    display: none;
    position: absolute;
    top:90px;
    left:0;
    width:200px;
    z-index: 10;
}

.menu-item:hover > ul{
    display: block;
}

.menu-sub-item{
    position: relative;
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 12px 20px !important;
}

.menu-sub-item:hover{
    background:black;
}

.menu-sub-item > a{
    width: 100%;
    height: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: lightskyblue;
} 

.menu-sub-item:not(:last-child){
    border-bottom: 1px solid rgba(128, 128, 128, 0.171);
}

.menu-sub-item > ul{
    display: none;
    position: absolute;
    top:0;
    left:200px;
    width: 200px;
    -webkit-box-shadow: -2px 0px 5px lightblue;
            box-shadow: -2px 0px 5px lightblue;
    z-index: 2;
}

.menu-sub-item:hover > ul{
    display: block;
}

.menu-sub-item > ul li{
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 12px 20px !important;
}

.menu-sub-item > ul li:hover{
    background:black;
}

.menu-sub-item > ul li:not(:last-child){
    border-bottom: 1px solid rgba(128, 128, 128, 0.171);
}

/* Carousel */

#carousel{
    position: relative;
    width: 100%;
    height: 550px;
    margin-top: 135px;
    overflow: hidden;
}

.red-layer{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.397)
}

.slides{
    position: absolute;
    top: 0;
    width:100%;
    height: 100%;
    max-height: 100%;
    transition: all .5s ease-out;
}

#slide1{
    left: 0;
    z-index: 3;    
    background:url('img/flag_child.jpg');
    background-position: center;    
}

#slide2{
    left:100%;
    background:no-repeat  url('img/lonely_child.jpg');
    background-size:cover;
    background-position: bottom;
}

#slide3{
    left:200%;
    background:no-repeat url('img/red_bear.jpg');
    background-size: cover;
    background-position: center
}

.callout{
    position: absolute;
    top:100px;
    left:100px;
    width:30%;
    color: white;
}

.callout h1{
    font-size: 3em;
}

.donate-button{
    color:white;
    background:#ff3450;;
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: bold;
}

#controls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom:20px;
    width:100%;
    z-index: 5;
}

#controls div {
	height: 20px;
	width: 20px;
	background: white;
	border-radius: 50%;
	margin: 0px 5px;
}

#controls #c1 {
    background:#ff3450;
}

#controls div:hover {
    cursor: pointer;
    background: aliceblue;
}

/* Facts section */

#facts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 190px;
    width: 100%;
}

.fact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    line-height: .5em;
    height: 100%;
    color:white;
}

.fact .icon{
    margin-right: 20px
}

.fact h1 {
    height: 10px;
}

.fact:nth-child(odd){
    background:rgba(255, 52, 80, 0.8)
}

.fact:nth-child(even){
    background:rgba(40, 103, 222, 0.8)
}

/* Welcom section */

#welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    text-align: center;
}

#welcome h1{
    font-size: 3em;
    font-weight:lighter;
    color: rgba(0, 0, 0, 0.459)
}

#welcome h1 b {
    color: rgba(0, 0, 0, 0.774);
    font-weight: bold;
}

#welcome p{
    font-size: 1.2em;
    line-height: 1.5em;
    width:55%;
    color: rgba(0, 0, 0, 0.479);
}

/* Sections */
.section{
    padding: 70px 0px;
    background:#f3f3f3;
    height: 100%;
}

.section-head{
    text-align: center;
    
}

.section-head h1{
    font-weight: lighter;
    font-size: 3em;
    color: grey   
}

.section-head .icon{
    width:  250px;
    margin: auto;
    border: 3px solid #ff3450;;
}

.section-head .icon span{
    margin-right:40%;
    float: right;
    margin-top: -22px;
    color: white;
    background: #ff3450;;
    border-radius: 50%;
    padding:10px
}

.section-body {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 60px;
}


/* Recent Cause */
#recent-cause .section-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.cause{
    width: 25%;
    margin: 5px 10px;
    height: 100%;
}

.cause > img {
    display: block;
    width: 100%;
    height: 230px;
    background: cornflowerblue;
}

.cause > .info > .notes p{
    color:rgb(92, 85, 85);
    line-height: .1em;    
}

.cause > .info > .notes h3{
    color:rgba(0, 0, 0, 0.904);
}

.cause > .info > .notes  span{
    margin: 3px;
}

.cause button{
    background: #2867de;
    border: 0;
    padding:8px 15px;
    margin-top: 40px;
    border-radius: 3px;
    font-weight: bold;
    font-size: .8em;
    color: white;  
    transition: background .5s ease-out;  
}

.cause button:hover{
    background:#ff3450; 
    cursor: pointer;
}

.info{
    display: flex;
    height: 100%;
    padding:5px 15px 30px 15px;
    background: white;
}

.percentage{
    margin-top:25px;
    width:10px;
    height: 150px;
    color: #ff3450;
}

.percentage .bar{
    display: flex;
    align-items: flex-end;
    height: 100%;
    background:rgba(218, 65, 85, 0.396);
    border-radius: 5px;
}

.percentage .bar .level{
    height: 56%;
    flex:1;
    background:#ff3450;
    border-radius: 5px;        
}

.percentage .number{
    position: relative;
    right:6px;
    top: 20px;
}

/* UPCOMING EVENT */
#upcoming-events{
    background: white;
    padding-bottom: 0 !important;
}

#upcoming-events .section-body{
    margin-top: 50px;
}

#upcoming-events .events-slide{
    position: absolute;
    display: flex;
    width: 100%    
}

#events-slide1{
    left: 0%;
    transition: left .5s ease;
}

#events-slide2{
    left: 100%;
    transition: left .5s ease;    
}

#events-slide1 .photo{
    flex: 1;
    background:no-repeat url('img/two_girls.jpg');
    background-size: cover;
    background-position: center
}

#events-slide2 .photo{
    flex: 1;
    background:no-repeat url('img/sheep_child.jpg');
    background-size: cover;
    background-position: center;
    padding-left: 50px
}

#upcoming-events .text{
    flex:1;
    padding: 80px 60px;
    background: #ff3450;
    color: white;
}

#upcoming-events .date{
    padding-top: 20px;
}

#upcoming-events .date span:last-child{
    padding-left: 10px
}

#upcoming-events .adress{
    padding-bottom: 40px;
}

.speakers{
    background:white;
    width: 310px;
    padding: 5px 0 5px 10px;
    margin-bottom: 80px;
    margin-top:30px; 
}

.speaker img{
    height: 100%;
    padding: 2px;
}

.speaker {
    height: 60px;
    width: 60px;
    float:right;
    margin:0 5px;
    margin-top: -18px;
    background: white;
}

.speakers span{
    color: #ff3450;
    font-weight: bold;
    font-size: .8em
}

#upcoming-events .actions [href='#join']{
    padding:8px 12px;
    margin-right: 20px;
    border-radius: 3px;
    background: #2867de;
    font-weight: bold;
    font-size: .8em;
    color: white;
}

#upcoming-events .actions a *{
    color:white;
    margin:auto;
    margin-right: 3px;
    font-size: 1.2em;
}


.arrow {
    position: absolute;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: 3em;
    font-weight: bolder;
    color: white;
}

#right-arrow{
    right:20px;
}

#left-arrow{
    left:20px;
}

.arrow span:hover{
    color: #2867de;
    cursor: pointer;
}

/* LATEST BLOGS */
#latest-blogs .notes .card{
    display: flex;
    align-items: center;
    border-top: 2px solid rgba(128, 128, 128, 0.404);
    padding: 15px 5px 0px 5px;
    margin-top: 20px !important;
}

#latest-blogs .notes .card img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    background: #2867de;
}