html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template, [hidden] {
  display: none;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin"), url("../vendor/fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../vendor/fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light"), url("../vendor/fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../vendor/fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Regular"), url("../vendor/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../vendor/fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium"), url("../vendor/fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../vendor/fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), url("../vendor/fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../vendor/fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../vendor/fonts/material-design-icons/MaterialIcons-Regular.eot");
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../vendor/fonts/material-design-icons/MaterialIcons-Regular.woff2") format("woff2"), url("../vendor/fonts/material-design-icons/MaterialIcons-Regular.woff") format("woff"), url("../vendor/fonts/material-design-icons/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

::-webkit-scrollbar {
  width: 5px !important;
  background: #FFFFFF !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background: #FFFFFF !important;
}

.ripple-container {
  overflow: hidden !important;
  position: relative !important;
}

.ripple-container > .ripple {
  display: block !important;
  position: absolute !important;
  border-radius: 100% !important;
  transform: scale(0) !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ripple-container.ripple-white > .ripple {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.ripple-container.ripple-black > .ripple {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ripple-container.ripple-indigo > .ripple {
  background-color: rgba(63, 81, 181, 0.5) !important;
}

.ripple-container.ripple-animate {
  animation: ripple 0.65s linear !important;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.bounce-in, .animated.bounce-out {
  animation-duration: .75s;
}

.progess {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
}

.progess > svg {
  top: 0;
  left: 0;
  overflow: visible;
  position: absolute;
  width: 150px;
  height: 150px;
  transform: rotate(-90deg);
  transform-origin: center;
  animation: progress-rotate 2s linear infinite;
}

.progess > svg circle {
  r: 45%;
  cx: 50%;
  cy: 50%;
  stroke: #3F51b5;
  fill: transparent;
  stroke-width: 10%;
  animation-duration: 4s;
  transform-origin: center;
  transition-property: stroke;
  stroke-dasharray: 282.743px;
  animation-iteration-count: infinite;
  transition: stroke-dashoffset 225ms linear;
  animation-name: progress-stroke-rotate-100;
  animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
}

@keyframes progress-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes progress-stroke-rotate-100 {
  0% {
    stroke-dashoffset: 268.60617px;
    transform: rotate(0);
  }
  12.5% {
    stroke-dashoffset: 56.54867px;
    transform: rotate(0);
  }
  12.51% {
    stroke-dashoffset: 56.54867px;
    transform: rotateX(180deg) rotate(72.5deg);
  }
  25% {
    stroke-dashoffset: 268.60617px;
    transform: rotateX(180deg) rotate(72.5deg);
  }
  25.1% {
    stroke-dashoffset: 268.60617px;
    transform: rotate(270deg);
  }
  37.5% {
    stroke-dashoffset: 56.54867px;
    transform: rotate(270deg);
  }
  37.51% {
    stroke-dashoffset: 56.54867px;
    transform: rotateX(180deg) rotate(161.5deg);
  }
  50% {
    stroke-dashoffset: 268.60617px;
    transform: rotateX(180deg) rotate(161.5deg);
  }
  50.01% {
    stroke-dashoffset: 268.60617px;
    transform: rotate(180deg);
  }
  62.5% {
    stroke-dashoffset: 56.54867px;
    transform: rotate(180deg);
  }
  62.51% {
    stroke-dashoffset: 56.54867px;
    transform: rotateX(180deg) rotate(251.5deg);
  }
  75% {
    stroke-dashoffset: 268.60617px;
    transform: rotateX(180deg) rotate(251.5deg);
  }
  75.01% {
    stroke-dashoffset: 268.60617px;
    transform: rotate(90deg);
  }
  87.5% {
    stroke-dashoffset: 56.54867px;
    transform: rotate(90deg);
  }
  87.51% {
    stroke-dashoffset: 56.54867px;
    transform: rotateX(180deg) rotate(341.5deg);
  }
  100% {
    stroke-dashoffset: 268.60617px;
    transform: rotateX(180deg) rotate(341.5deg);
  }
}

.transition {
  overflow: hidden;
  position: relative;
}

.transition::before {
  content: '';
  position: absolute;
  background: #FFFFFF;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline-bottom-form-left::before {
  left: 0;
  bottom: 0;
  right: 100%;
  height: 2px;
  transition-property: right;
}

.underline-bottom-form-left:hover::before {
  right: 0;
}

.underline-bottom-form-right::before {
  right: 0;
  bottom: 0;
  left: 100%;
  height: 2px;
  transition-property: left;
}

.underline-bottom-form-right:hover::before {
  left: 0;
}

.underline-bottom-form-center::before {
  bottom: 0;
  left: 50%;
  right: 50%;
  height: 2px;
  transition-property: left, right;
}

.underline-bottom-form-center:hover::before {
  left: 0;
  right: 0;
}

.underline-top-form-left::before {
  top: 0;
  left: 0;
  right: 100%;
  height: 2px;
  transition-property: right;
}

.underline-top-form-left:hover::before {
  right: 0;
}

.underline-top-form-right::before {
  top: 0;
  right: 0;
  left: 100%;
  height: 2px;
  transition-property: left;
}

.underline-top-form-right:hover::before {
  left: 0;
}

.underline-top-form-center::before {
  top: 0;
  left: 50%;
  right: 50%;
  height: 2px;
  transition-property: left, right;
}

.underline-top-form-center:hover::before {
  left: 0;
  right: 0;
}

.transition-2d {
  display: inline-block;
  transition-duration: 0.5s;
}

.transition-2d.bounce-in:hover {
  transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.transition-2d.bounce-out:hover {
  transform: scale(0.8);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-weight: normal;
  color: #FFFFFF !important;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0 !important;
  overflow: hidden !important;
  background: #FFFFFF !important;
}

a {
  color: inherit;
  text-decoration: none !important;
}

a:visited {
  color: inherit;
  text-decoration: none !important;
}

.cursor-pointer,
a,
button,
input[type='reset'],
input[type='submit'],
input[type='button'] {
  cursor: pointer !important;
}

.preload + .container {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.preload {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: visible;
}

.spacer {
  flex: 1 1 auto !important;
}

.no-select {
  cursor: default !important;
  user-select: none !important;
}

.clearfix {
  overflow: auto;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.center {
  top: 50% !important;
  left: 50% !important;
  position: absolute !important;
  transform: translate(-50%, -50%) !important;
}

.background {
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center center !important;
}

.cursor-text {
  cursor: text !important;
}

.cursor-default {
  cursor: default !important;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.align-justify {
  text-align: justify !important;
}
