::-webkit-scrollbar {
   width: 5px !important;
   background: $body-background !important;
}

::-webkit-scrollbar-button {}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-track-piece {}

::-webkit-scrollbar-thumb {
   border-radius: 10px !important;
   background: $white !important;
}

::-webkit-scrollbar-corner {}

::-webkit-resizer {}
